@model List<Trip>
    <div class="card">
        <div class="card-body">
            <h1 class="display-5">Trip List</h1>
            <hr />
            <div>
                <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="TripCreate">Create Trip</a>
            </div>
        </div>
    </div>


@if (Model.Count > 0)
{
    <div class="card mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">From Where</th>
                    <th scope="col">To Where</th>
                    <th scope="col">Fiyat</th>
                    <th scope="col">Tarih</th>
                    <th scope="col">Saat</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in Model)
                {
                    <tr>


                        <td>@trip.TripId</td>
                        <td>@trip.FromWhere.Name</td>
                        <td>
                            @trip.ToWhere.Name
                        </td>
                        <td>
                            @trip.Price
                        </td>
                        <td>
                            @trip.Date.ToString("d")
                        </td>
                        <td>@trip.Time</td>
                        <td>
                            <a asp-controller="Admin"
                       asp-action="TripEdit"
                       asp-route-id=@trip.TripId
                       class="btn btn-sm btn-warning">Edit</a>
                            <!-- Button trigger DeleteModal -->
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal_@trip.TripId">
                                Delete
                            </button>

                            <!-- DeleteModal -->
                            <div class="modal fade" id="DeleteModal_@trip.TripId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-danger">This trip will be deleted!</p>
                                            <p>Are you sure?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <a asp-controller="Admin"
                                       asp-action="TripDelete"
                                       asp-route-id=@trip.TripId
                                       class="btn btn-danger">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
}