@model List<MyIdentityUser>

    

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h6 class="display-4">User List</h6>
                <hr />
                <a asp-controller="Admin"
                   asp-action="UserCreate"
                   class="btn btn-sm btn-primary">Create User</a>
                <hr />
                <table class="table table-sm table-striped table-hover" id="myTable">
                    <thead>
                        <tr>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>User Name</td>
                            <td>Email</td>
                            <td>Email Confirmed</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                       
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                    <td>@user.UserName</td>
                                    <td>@user.Email</td>
                                    <td>@user.EmailConfirmed</td>
                                    <td>
                                        <a asp-controller="Admin"
                                   asp-action="UserEdit"
                                   asp-route-id=@user.Id
                                   class="btn btn-sm btn-warning me-2">Edit</a>
                                        <form asp-controller="Admin"
                                      asp-action="UserDelete"
                                      asp-route-id=@user.Id
                                      method="post">
                                            <button class="btn btn-sm btn-danger me-2">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
