@model TicketInfoModel
<div class="container text-center">
    <h1 class="text-white">Thank you for choosing us!</h1>
</div>

<div class="card mt-5">
    <div class="card-title">


        <div class="row text-center ">

            <div class="col-md-12 mt-2 ">
                <h3 class="text-dark">Ticket Information</h3>
                <hr />
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="row justify-content-around m1">
            <div class="col-md-5">


                <div class="row">
                    <div class="col-md-4 p-0 fw-bold ">
                        <label>First Name</label>
                    </div>
                    <div class="col-md-5 p-0 ">
                        <label> @Model.PassengerFirstName</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 p-0 fw-bold ">
                        <label>Last Name</label>

                    </div>
                    <div class="col-md-5 p-0 ">
                        <label> @Model.PassengerLastName</label>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 p-0 fw-bold ">
                        <label>Email</label>

                    </div>
                    <div class="col-md-5  p-0 ">
                        <label>@Model.Email</label>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 p-0 fw-bold ">
                        <label>Price</label>

                    </div>
                    <div class="col-md-5 p-0">
                        <label>@Model.Price</label>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 p-0 fw-bold ">
                        <label>Estimated Time</label>

                    </div>
                    <div class="col-md-5 p-0">
                        <label>@Model.EstimatedTime</label>

                    </div>
                </div>
            </div>



            <div class="col-md-5">

                <div class="row">
                    <div class="col-md-3 p-0 fw-bold ">
                        <label>From</label>
                    </div>
                    <div class="col-md-3 p-0 ">
                        <label>@Model.FromWhere.Name</label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3 p-0 fw-bold ">
                        <label>To</label>
                    </div>
                    <div class="col-md-3 p-0 ">
                        <label> @Model.ToWhere.Name</label>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-0 fw-bold ">
                        <label>Date</label>
                    </div>
                    <div class="col-md-3  p-0 ">
                        <label> @Model.Date.ToString("d")</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-0 fw-bold ">
                        <label>Time</label>
                    </div>
                    <div class="col-md-3 p-0">
                        <label> @Model.Time</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-0 fw-bold ">
                        <label>Seat Number</label>
                    </div>
                    <div class="col-md-3 p-0">
                        <label>  @Model.SeatNumber</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
